/* Player Selection Styles */
.agent-selection {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--panel);
  border-bottom: 1px solid var(--neon-cyan);
}

.agent-selection-dd-container {
  width: 400px;
}

.agent-selection label {
  font-size: 1.2em;
  color: var(--neon-cyan);
}

@media (max-width: 768px) {
  .journal-viewer {
    width: 95%;
    margin: 10px auto;
    padding: 10px;
  }

  .journal-info {
    flex-direction: column;
    gap: 10px;
  }
}
